@import "tailwindcss";

@custom-variant dark (&:is(.dark *));


@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-content: var(--content);
    --color-subContent: var(--subContent);
    --color-btn-hover: var(--btn-hover);
    --color-btn-hover-border: var(--btn-hover-border);
}

:root {
    --background: #f5f5f5;
    --foreground: #171717;
    --content: #404040;
    --subContent: #a3a3a3;

    --btn-hover: #e4e4e7;
    --btn-hover-border: #a1a1aa;
}

.dark {
    --background: #171717;
    --foreground: #f5f5f5;
    --content: #a3a3a3;
    --subContent: #525252;

    --btn-hover: #27272a;
    --btn-hover-border: #52525b;
}

@layer base {

    h1,
    h2 {
        @apply m-0 p-0;
    }

    html,
    body {
        transition:
            background-color 0.3s ease-in-out,
            color 0.3s ease-in-out,
            box-shadow 0.3s ease-in-out,
            border-color 0.3s ease-in-out;
    }

    body {
        @apply bg-background text-foreground;
    }

    main {
        @apply mx-auto max-w-screen-sm px-5;
    }
    
    section {
        @apply my-6 py-6;

    }
}

@layer components {
    .transition-animation {
        @apply transition-colors duration-300 ease-in-out;
    }

}