---
import ArrowCard from "@components/ArrowCard.astro";
import SectionHeading from "@components/SectionHeading.astro";
import { projectsMeta, projectsDetail } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";
import { getCollection } from "astro:content";

const projects = (await getCollection("projects")).sort((a, b) => a.data.order - b.data.order);
---

<PageLayout title={projectsMeta.title} description={projectsMeta.description}>
    <section>
        <SectionHeading headingText="Projects" />
        {projects.map((project) => <ArrowCard entry={project} />)}
    </section>
</PageLayout>
