---
import ArrowCard from "@components/ArrowCard.astro";
import SectionHeading from "@components/SectionHeading.astro";
import { projectsMeta, projectsDetail } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title={projectsMeta.title} description={projectsMeta.description}>
    <section>
        <SectionHeading headingText="Projects" />
        {
            projectsDetail.map((project) => (
                <ArrowCard
                    arrowCardTitle={project.title}
                    arrowCardDescription={project.desc}
                />
            ))
        }
    </section>
</PageLayout>
