---
import ArrowCard from "@components/ArrowCard.astro";
import SectionHeading from "@components/SectionHeading.astro";
import { careerMeta, projectsDetail } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title={careerMeta.title} description={careerMeta.description}>
    <section>
        <SectionHeading headingText="Career page" />
         <p class="text-content text-sm md:text-base">

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, reiciendis.
         </p>
    </section>
</PageLayout>
